section.banner {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: rgb(26, 123, 121);
  font-size: 4rem;
}
@media (max-width: 1200px) {
  section.banner {
    height: 200px;
  }
}
@media (max-width: 750px) {
  section.banner {
    height: 150px;
    font-size: 3rem;
  }
}
section.banner .about-banner {
  letter-spacing: 0.02rem;
}

main .main-content {
  width: 60%;
  margin: 0 auto;
  padding: 4rem 15px;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  opacity: 0.8;
  color: #4a4a4a !important;
  font-family: Noto Sans TC;
}
@media (max-width: 1200px) {
  main .main-content {
    padding: 2rem 15px;
    width: 90%;
  }
}
@media (max-width: 750px) {
  main .main-content {
    padding: 1rem 30px;
    width: 100%;
  }
}
main .main-content .main-content-padding {
  padding: 1rem 0;
  letter-spacing: 2px;
}
@media (max-width: 750px) {
  main .main-content .main-content-padding {
    letter-spacing: 0;
  }
}
main .main-content .main-content-padding.title {
  font-weight: bold;
}
main .main-content .main-content-padding .title {
  font-weight: bold;
}
main .main-content .main-content-padding .main-square {
  font-size: 22px;
  font-weight: bolder;
}

dl {
  color: #4a4a4a;
  font-weight: bolder;
  letter-spacing: 1px;
  font-style: normal;
  font-stretch: normal;
}
@media (max-width: 996px) {
  dl {
    font-size: 2.5rem;
  }
}
@media (max-width: 750px) {
  dl {
    font-size: 1.5rem;
  }
}
@media (max-width: 576px) {
  dl {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
}

@media (max-width: 576px) {
  section .app_download {
    padding: 1rem 15px;
  }
  section .app_download .content {
    padding-bottom: 0;
  }
}
section.section-app_download {
  background-color: #efefef;
}
section.section-app_download .image {
  width: 180px;
  max-width: none;
}
@media (max-width: 576px) {
  section.section-app_download .image {
    width: 150px;
  }
}
section .app-btn {
  color: white;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  font-style: normal;
  width: 40%;
  margin-bottom: 1rem;
  padding: 1rem 0;
  background-color: #04cac8;
  border-color: #04cac8;
}
section .app-btn:hover {
  color: white;
}
@media (max-width: 1200px) {
  section .app-btn {
    width: 70%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 576px) {
  section .app-btn {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
section .img-app-block {
  width: 40%;
}
@media (max-width: 1200px) {
  section .img-app-block {
    width: 70%;
  }
}
@media (max-width: 576px) {
  section .img-app-block {
    width: 100%;
  }
}
section .img-app-block .img-app {
  width: 50%;
  max-width: initial;
}