a {
    text-decoration: none !important;
    color: white;
    &:hover {
        text-decoration: none !important;
        color: white;
    }
}

img {
    width: 100%;
}

.dFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.container {
    @media (min-width: 1200px) {
        max-width: 75%;
    }

    @media (max-width:576px) {
        max-width: 100%;
    }
}

dl {
    font-style: normal;
    color: #333333;
    font-weight: bolder;
    font-size: 2.5rem;
    letter-spacing: 0.04em;
    margin: 0;

    @media (max-width:996px) {
        font-size: 1.5rem;
        letter-spacing: 0;
        padding: 0.5rem 0;
    }

    @media (max-width:750px) {
        font-size: 1.5rem;
        letter-spacing: 0;
        padding: 1rem 0 0.5rem 0;
    }
    // @media (max-width:576px) {
    //     font-size: 1.5rem;
    //     letter-spacing: 0;
    //     padding: 1rem 0 0.5rem 0;
    // }
}

dt {
    font-weight: 400;
    font-size: 1.375rem;
    letter-spacing: 0.02em;
    color: #555555;
    margin: 0;
    padding: 0.5rem 1.5rem 0 0;

    @media (max-width:996px) {
        font-size: 1rem;
        letter-spacing: 0;
        padding: 0rem 0;
    }
    // @media (max-width:750px) {
    //     font-size: 1rem;
    //     letter-spacing: 0;
    //     padding: 0rem 1rem;
    // }

    @media (max-width:750px) {
        font-size: 1rem;
        letter-spacing: 0;
        padding: 0 1rem 0.5rem 1rem;
        text-align: start;
    }
}

dd {
    font-weight: bold;
    font-size: 1.75rem;
    letter-spacing: 0.02em;
    color: black;
    margin: 0;

    @media (max-width:576px) {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 0;
        padding: 0.1rem;
    }
}

.main-template {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 1rem;

    @media (max-width:1200px) {
        max-width: 100% !important;
    }

    @media (max-width:750px) {
        max-width: 100%;
        flex-direction: column;
        padding: 0;
    }

    &.main-template-reverse {
        @media (max-width:750px) {
            flex-direction: column-reverse;
        }
    }

    &.container-clinic {
        max-width: 75%;

        @media (max-width:750px) {
            max-width: 100%;
        }

        .main-content {
            width: 40%;
            &.main-content-left{
                padding-left: 1rem;
                @media (max-width:750px) {
                    padding: 0;
                }
            }
            &.main-content-right{
                padding:0 0 0 15px;
                @media (max-width:750px) {
                    padding: 0;
                }
            }
            @media (max-width:996px) {
                padding: 0 1rem;
            }

            @media (max-width:750px) {
                width: 100%;
                text-align: center;
                margin: 0 auto;
                padding: 0;
            }
        }

        .main-pic {
            width: 60%;

            @media (max-width:750px) {
                width: 100%;
            }
        }
    }

    &.container-personal {
        max-width: 70%;

        @media (max-width:750px) {
            max-width: 100%;
        }

        .main-content {
            width: 50%;
            &.main-content-left{
                padding-left: 3rem;
                @media (max-width:750px) {
                    padding: 0;
                }
            }
            &.main-content-right{
                padding-right:1rem;
                @media (max-width:750px) {
                    padding: 0;
                }
            }
            @media (max-width:750px) {
                width: 100%;
                text-align: center;
                margin: 0 auto;
            }
        }

        .main-pic {
            width: 50%;

            @media (max-width:750px) {
                width: 100%;
            }
        }
    }
}