footer{
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.04em;
    font-size: 20px;
    max-height: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer-link{
    width: 50%;
    margin: 0 auto;
    justify-content: space-around;
    padding:0 3.5rem;
    a{
        color: white;
    }
    }
    .footer-copyright{
        font-weight: 400;
        font-size: 18px;
    }
}