footer {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.04em;
    font-size: 20px;
    min-height: 100px;
    // height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

    .footer-link {
        width: 45%;
        margin: 0 auto;
        justify-content: space-around;
        padding: 0 1rem;
        @media (max-width:576px) {
            width: 100%;
            justify-content: space-evenly;
            padding: 0.5rem 1rem 0 1rem;
        }
        a {
            color: white;
        }
    }

    .footer-copyright {
        padding-top: 0.1rem;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        @media (max-width:576px) {
            flex-direction: row;
            letter-spacing: 0;
            font-size: 14px;
        }
    }
}