header {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        .h-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;
            width: 60%;
            flex-wrap: wrap;
            overflow: hidden;
            .logo {
                color: #4A4A4A;
                letter-spacing: 0.02em;
                .images {
                    max-width: 50px;
                }
            }
            .version {
                letter-spacing: 0.01em;
                font-size: 18px;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                justify-content: space-around;
                padding-left: 2rem;
                .version-btn {}
            }

        }

        .h-right {
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;

            .btn-info {
                color: white;
                font-size: 18px;
                font-weight: 500;
                width: 30%;
                margin: 0 0 0 2rem;
            }

        }
    }

}