// header {
//     .header {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         padding: 15px 15px;
//         margin: 0 auto;
//         width: 100%;
//         // @media (max-width:576px) {
//         //     padding: 0 ;
//         // }
//         .h-left {
//             display: flex;
//             justify-content: flex-start;
//             align-items: center;
//             font-size: 1.5rem;
//             font-weight: 700;
//             width: 100%;
//             flex-wrap: nowrap;
//             overflow: hidden;
//             // @media (max-width:576px) {
//                 // width: 100%;
//             // }
//             .logo{
//                 display: flex;
//                 justify-content:flex-start;
//                 align-items: center;
//                 flex-wrap: nowrap;
//                 // width: auto;
//                 // @media (max-width:996px) {
//                     // width: 100%
//                 // }
//                 .logo-images {
//                     // width: auto;
//                     @media (max-width:996px) {
//                         max-width: 20%;
//                     }
//                 }
//                 .logo-name{
//                     padding-left: 1.5rem;
//                     // width: auto;
//                     @media (max-width:996px) {
//                         padding-left: 0.5rem;
//                         font-size: 1rem;
//                     }
//                 }
//             }
//             .version {
//                 letter-spacing: 0.01em;
//                 font-size: 18px;
//                 font-weight: bolder;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;
//                 // width: 30%;
//                 justify-content: space-around;
//                 padding-left: 2rem;
//                 @media (max-width:996px) {
//                     justify-content: space-around;
//                     padding: 0;
//                     // width: auto;
//                     letter-spacing: 0px;
                    
//                 }
//                 // @media (max-width:576px) {
//                     // width: 100%;
//                 //     padding: 0;
//                 // }
//                 .version-btn {
//                     @media (max-width:996px) {
//                         // margin: 0 0.5rem;
//                         font-size: 0.5rem;
//                     }
//                 }
//             }

//         }

//         .h-right {
//             width: 100%;
//             display: flex;
//             justify-content: flex-end;
//             align-items: center;
//             flex-wrap: wrap;
//             overflow: hidden;
//             // @media (max-width:996px) {
//             //     flex-wrap: nowrap;
//             //     justify-content: center;
//             //     align-items: center;
//             // }
//             // @media (max-width:576px) {
//                 // width: 100%;
//             //     justify-content: space-between;
//             //     padding: 0 15px;
//             // }
//             .btn-info {
//                 color: white;
//                 font-size: 18px;
//                 font-weight: 500;
//                 // width: 
//                 margin: 0 0 0 2rem;
//                 // padding: 0.2rem;
//                 // @media (max-width:996px) {
//                 //     font-size: 16px;
//                     // width: 100%;
//                 //     margin: 0 3px;
//                 // }
//                 // @media (max-width:576px) {
//                 //     margin: 0;
//                     // width: 49%;
//                 //     font-size: 16px;
//                 // }
//             }

//         }
//     }

// }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    .header-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .logo{
            justify-content: flex-start;
            align-items: center;
            display: flex;
            padding: 0.5rem;
            .logo-name{
                font-weight: 900;
                letter-spacing: 0.04em;
                font-size: 1.5rem;
                padding-left: 0.5rem;
            }
            .logo-images{
                width: 56px;
            }
            .version-btn{
                font-weight: 900;
                font-size: 1.5rem;
                margin-left: 2rem;
                &.version-btn-two{
                    margin-left: 1rem;
                }
            }
        }
    }
    .header-right{
        .btn-info{
            color: white;
            padding: 0.375rem 1rem;
        }

    }
}
@media (max-width:750px) {
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 5px;
        .header-left{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            .logo{
                justify-content: flex-start;
                align-items: center;
                display: flex;
                padding: 0;
                .logo-name{
                    font-weight: 900;
                    letter-spacing: 0em;
                    font-size: 0.75rem;
                    padding-left: 0.25rem;
                }
                .logo-images{
                    width: 20%;
                }
                .version-btn{
                    font-weight: 900;
                    font-size: 0.75rem;
                    margin-left: 1rem;
                    &.version-btn-two{
                        margin-left: 0.5rem;
                    }
                }
            }
        }
        .header-right{
            width: 40%;
            .btn-info{
                color: white;
                padding: 0.5rem 0.1rem;
                width: 45%;
                font-size: 0.75rem;
                // max-width: 45%;
            }
    
        }
    }
}