header {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 15px;
        margin: 0 auto;
        width: 100%;
        @media (max-width:576px) {
        }
        .h-left {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-size: 1.5rem;
            font-weight: 700;
            width: 60%;
            flex-wrap: nowrap;
            overflow: hidden;
            @media (max-width:576px) {
                width: 100%;
            }
            .logo{
                display: flex;
                justify-content:flex-start;
                align-items: center;
                flex-wrap: nowrap;
                width: auto;
                @media (max-width:996px) {
                    width: 100%
                }
                .logo-images {
                    width: auto;
                    @media (max-width:996px) {
                        width: 20%;
                    }
                }
                .logo-name{
                    padding-left: 1.5rem;
                    width: auto;
                    @media (max-width:996px) {
                        width: 80%;
                        padding-left: 0.5rem;
                        font-size: 1.25rem;
                    }
                }
            }
            .version {
                letter-spacing: 0.01em;
                font-size: 18px;
                font-weight: bolder;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30%;
                justify-content: space-around;
                padding-left: 2rem;
                @media (max-width:996px) {
                    justify-content: flex-start;
                    padding: 0;
                    width: 100%
                }
                @media (max-width:576px) {
                    width: 100%;
                    padding: 0;
                }
                .version-btn {
                    @media (max-width:996px) {
                        margin: 0 0.5rem;
                    }
                }
            }

        }

        .h-right {
            width: 40%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            overflow: hidden;
            @media (max-width:996px) {
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
            }
            @media (max-width:576px) {
                width: 100%;
                justify-content: space-between;
                padding: 0 15px;
            }
            .btn-info {
                color: white;
                font-size: 18px;
                font-weight: 500;
                // width: 
                margin: 0 0 0 2rem;
                padding: 0.2rem;
                @media (max-width:996px) {
                    font-size: 16px;
                    width: 100%;
                    margin: 0 3px;
                }
                @media (max-width:576px) {
                    margin: 0;
                    width: 49%;
                    font-size: 16px;
                }
            }

        }
    }

}