section {
    &.section-sign-up{
        padding: 3rem 0 1.5rem 0;
        @media (max-width:996px) {
            padding:1rem  0;
        }
        @media (max-width:750px) {
            padding: 0;
        }
        @media (max-width:576px) {
            padding: 0;
        }
    }
    .sign-up {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem;
        .sign-up-title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            dl {
                // font-size: 2.5rem;
                color: #333333;
                // font-weight: bolder;
            }

            dt {
                // font-size: 20px;
                color: #333333;
                // font-weight: bold;
                padding: 1rem 0;
                @media (max-width:996px) {
                    padding-top: 0;
                    padding-bottom: 1rem;
                }
                @media (max-width:576px) {
                    padding: 0rem;
                }
            }
        }

        .sign-up-step {
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 2rem 1rem;
            @media (max-width:996px) {
                max-width: none;
            }
            @media (max-width:750px) {
                max-width: none;
                padding: 0;
            }
            @media (max-width:576px) {
                padding: 0;
            }
            .sign-up-icon {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 20%;
                background-color: white;
                padding: 3rem 0rem;
                position: relative;
                border-radius: 8px;
                max-height: 300px;
                height: 300px;
                @media (max-width:750px) {
                    width: 45%;
                    margin: 2rem 0 1rem 0;
                }
                @media (max-width:576px) {
                    width: 48%;
                    margin: 2.5rem 0 1rem 0;
                    justify-content:flex-start;
                }
                .sign-num {
                    border-radius: 50%;
                    font-weight: bolder;
                    width: 56px;
                    height: 56px;
                    border: 6px solid #FFFFFF;
                    font-size: 30px;
                    text-align: center;
                    position: absolute;
                    top: 0;
                    transform: translate(0, -50%);
                    line-height: 40px;
                    @media (max-width:576px){
                        line-height: 44px;
                    }
                }

                .sign-img {
                    min-width: 80px;
                }

                .sign-title {
                    font-size: 30px;
                    letter-spacing: 0.04em;
                    font-weight: bolder;
                    color: #333333;
                    text-align: center;
                    padding: 1.5rem 0 0 0;
                }

                .sign-content {
                    letter-spacing: 0.02em;
                    color: #333333;
                    font-size: 20px;
                    font-weight: 600;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}