section{
    .app_download{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        .image{
            max-width: 150px;
        }
        .img-app{
            max-width: 230px;
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 1rem;
        }
    }
}