section{
    .app_download{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        @media (max-width:996px) {
            max-width: 100%;
        }
        @media (max-width:576px) {
            padding: 1rem 0;
        }
        .image{
            max-width: 150px;
            @media (max-width:576px) {
                max-width: 100px;
            }
        }
        .img-app{
            max-width: 230px;
            @media (max-width:576px) {
                max-width: 120px;
            }
        }
        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 1rem;
        }
    }
}